/*@import url('04B_30.ttf');
*/
body {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.particule {
  position: absolute;
  z-index: -2;
}

#contenedor_banner {
  z-index: -1;
}

#canvasTablero{
position: absolute;
  z-index: -2;
}

#contenedor_login {
  height: 500px;
  width: 400px;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#contenedor_jugadores {
    position: absolute;
    left: 0px;
    width: 200px;
    border: 3px solid #272828;
    padding: 10px;
}


#boardBody td{
   /*
    border: 3px solid #F0F0F0;
    */
    padding: 5px;
    text-align: center;
    width:80px;
}

.table{
  width:570px;
  height:560px;
}

#boardBody tr{
height:80px;
}


#alignRight {
    height: 500%;
    float: right;
    width: 70%;
}

#alignLeft{
    height: 500%;
    float: left;
    width: 70%;
}

#ficha0,#ficha1,#ficha2,#ficha3,#ficha4,#ficha5{
  width: 80px;
  height: 80px;
}


.btnFichas{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
/*
p{
  font-family: '04B_30.ttf';
  font-size: 22px;
}
*/